<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../../partials/header'); %>
</header>
  <main>
    <form action="/register" method="POST" id="registerForm">
      <input type="hidden" name="csrf_token" value="<%= csrf_token %>">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required autocomplete="name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required autocomplete="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm your password" required autocomplete="new-password">
      </div>
      <div class="form-group">
        <label for="type">Alege tipul</label><br>
        <input type="radio" id="client" name="type" value="client" checked required>
        <label for="client">Client</label><br>
      </div>      

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>

<%- include('../../partials/footer'); %>

</body>
</html>
