<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/head'); %>
</head>
<body class="container">

<header>
	<%- include('../../partials/header'); %>
</header>

<main>
<h1>
	Despre noi: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam est ligula, pharetra posuere egestas ut, ultricies egestas quam. In hac habitasse platea dictumst.
</h1>
</div>
</main>

<%- include('../../partials/footer'); %>

</body>
</html>