/* Style for the sidebar */
.sidebar {
  height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  width: 250px; 
  background-color: #343a40; 
  padding-top: 20px;
}

.sidebar a {
  padding: 15px;
  text-align: left;
  text-decoration: none;
  font-size: 18px;
  color: #f8f9fa;
  display: block;
}

.sidebar a:hover {
  background-color: #495057;
}

/* Main content area */
.main-content {
  margin-left: 250px; 
  padding: 20px;
}

/* Style for the header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #343a40;
}

.header-item a {
  color: #f8f9fa;
  text-decoration: none;
  padding: 1rem;
}

.header-item a:hover {
  background-color: #495057;
}

.header-item button {
  background-color: #343a40;
  color: #f8f9fa;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.header-item button:hover {
  background-color: #495057;
}

/* Table style */
.table {
  background-color: #343a40; 
  color: #f8f9fa; 
  border-collapse: collapse;
}


.table thead th {
  background-color: #495057; 
  color: #f8f9fa; 
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #dee2e6; 
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid black;
}

.table tbody tr:hover {
  background-color: #495057; 
}

.table .btn-info {
  background-color: #17a2b8;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.table .btn-info:hover {
  background-color: #138496;
}

.table .btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.table .btn-danger:hover {
  background-color: rgb(223, 136, 136);
}

/* buttons style */

.modal-footer button {
  background-color: #343a40;
  color: #f8f9fa;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #495057;
}
