<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

 <h2>Buna  <%-user.name%>, te-ai inregistrat cu succes.</h2>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>