<html lang="en">
<head>
  <%- include('../../partials/admin/head') %>
</head>
<body>

  <div class="sidebar">
    <a href="/admin">Acasa</a>
    <a href="/admin/users">Gestioneaza utilizatori</a>
    <a href="/admin/products">Gestioneaza produse</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="main-content">
    <header class="bg-light p-3 shadow-sm">
      <li class="header-item">
        <a href="/">Pagina de pornire</a>
      </li>
    </header>
    
    <div class="container mt-3">
      <h2>This is the main content</h2>
      <p>Some text to enable scrolling... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a enim id risus pellentesque venenatis. Duis ac luctus velit. Nam bibendum neque nec lectus volutpat, et gravida libero suscipit.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a enim id risus pellentesque venenatis...</p>
    </div>

  </div>
</body>
</html>
