<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Felicitari, acum esti pe pagina de admin!</h1>
  <a href="/admin/users">Editeaza utilizatori inregistrati</a>
  <br><br><br><br>
  <a href="/admin/products">Editeaza produse</a></body>
</html>